// Variables

$global-radius: 4px;

// Colors
$blue-05: #AAF2FF !default;
$blue-10: #80EBFF !default;
$blue-20: #00DDFF !default;
$blue-20-a40: rgba(0, 221, 255, 0.4) !default;
$blue-40: #0090ED !default;
$blue-50: #0060DF !default;
$blue-50-a40: rgba(0, 96, 223, 0.4) !default;
$blue-60: #0250BB !default;
$blue-70: #054096 !default;

$light-grey-05: #FBFBFE !default;
$light-grey-05-a40: rgba(251, 251, 254, 0.4) !default;
$light-grey-10: #F9F9FB !default;
$light-grey-20: #F0F0F4 !default;
$light-grey-20-a40: rgba(240, 240, 244, 0.4) !default;
$light-grey-30: #E0E0E6 !default;
$light-grey-40: #CFCFD8 !default;
$light-grey-80: #8F8F9D !default;

$dark-grey-05: #5B5B66 !default;
$dark-grey-05-a45: rgba(91, 91, 102, 0.45) !default;
$dark-grey-10: #52525E !default;
$dark-grey-30: #42414D !default;
$dark-grey-40: #3A3944 !default;
$dark-grey-60: #2B2A33 !default;
$dark-grey-60-a40: rgba(43, 42, 51, 0.4) !default;
$dark-grey-80: #1C1B22 !default;
$dark-grey-90: #15141A !default;
$dark-grey-90-a40: rgba(21, 20, 26, 0.4) !default;

$green-40: #54FFBD !default;
$green-60: #2AC3A2 !default;

$red-05: #FFDFE7 !default;
$red-10: #FFBDC5 !default;
$red-20: #FF9AA2 !default;
$red-30: #FF8480 !default;
$red-30-a40: rgba(255, 132, 139, 0.4) !default;
$red-60: #E22850 !default;
$red-60-a40: rgba(226, 40, 80, 0.4) !default;
$red-70: #C50042 !default;
$red-80: #810220 !default;

$white: #FFFFFF !default;

$yellow-40: #FFBD4F !default;
$yellow-50: #FFA436 !default;
