button,
.btn {
  border: none;
  border-radius: $global-radius;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;

  &.btn-primary {
    background-color: $button-primary-bgcolor;
    color: $button-primary-color;
  }
  &.btn-primary:hover {
    background-color: $button-primary-hover-bgcolor;
  }
  &.btn-primary:active {
    background-color: $button-primary-active-bgcolor;
  }

  &.btn-secondary {
    background-color: $button-secondary-bgcolor;
    color: $button-secondary-color;
  }
  &.btn-secondary:hover {
    background-color: $button-secondary-bgcolor;
  }
  &.btn-secondary:active {
    background-color: $button-secondary-bgcolor;
  }

  &.btn-destructive {
    background-color: $button-destructive-bgcolor;
    color: $button-destructive-color;
  }
  &.btn-destructive:hover {
    background-color: $button-destructive-bgcolor;
  }
  &.btn-destructive:active {
    background-color: $button-destructive-bgcolor;
  }
}

